<launch>
	<include file="$(find abb_irb120_moveit_config)/launch/demo.launch" />
	<node name="motors_on" pkg="egm_config" type="start_robot.bash"/>
	<node name="rt_egm_config" pkg="egm_config" type="egm_config_rt.py" />
	<include file="$(find ft_sensor_driver)/launch/force_filtered.launch" />
	<include file="$(find control)/launch/camera_calibration.launch" />
</launch>
