<launch>
	<arg name="robot_ip" doc="The robot controller's IP address" default="192.168.1.100"/>

	<include file="$(find abb_irb120_moveit_config)/launch/demo.launch" >
		<arg name="robot_ip" value="$(arg robot_ip)"/>
	</include>
	
	<node name="motors_on" pkg="egm_config" type="start_robot.bash"/>
	<!-- publish the location of the camera frame -->
	<include file="$(find control)/launch/camera_calibration.launch" />
	<node name="speedMeasure" pkg="control" type="SpeedMeasure.py" respawn="true"/>
</launch>
